body {
    margin: 0;
    background-color: rgb(22,18,42);
    font-family: 'Prompt', sans-serif;
    user-select: none;
}

header {
    display: flex;
    background-color: rgb(42,38,60);
    width: 100%;
    justify-content: space-between;

    align-items: center;
}

header .pokemon-logo {
    color: rgb(197,223,232);
    font-size: 2rem;
    padding: 0px 20px;
}

header .menu-image img {
    width: 2rem;
    background-color: rgba(255, 255, 255, 0);
    left: -20px;
    position: relative;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    display: flex;
}
header .menu-image img:hover {
    
    transform: rotate(360deg);
}

section {
    width: 90vw;
    height: 50vw;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 60px;
    top: 150px;
    display: flex;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
@media (max-width:1500px) {
    section {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width:1100px) {
    section {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px) {
    section {
        grid-template-columns: repeat(1,1fr);
    }
}
section.team {
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0);
    width: 55vw;
    height: 45vw;
    overflow-x: hidden ;
    position: absolute;
    margin-right: 50px;
    
}
.pokemon-choose {
    background-color: rgba(255, 255, 255, 0.178);
    width: 30vw;
    height: 40vw;
    border-radius: 40px;
    position: absolute;
    top: 8vw;
    left: 4vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    visibility: hidden;
    
}
.pokemon-choose .pokemon-choose-container {
    background-color: rgba(255, 255, 255, 0.452);
    width: 10vw;
    height: 12vw;
    border-radius: 20px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
section .pokemon-container {
    background-color: rgb(42,38,60); 
    width: 15vw;
    height: 22vw;
    border-radius: 20px;
    color: rgb(207,240,243);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: 0.4s;
    
}
@media (max-width:1500px) {
    section .pokemon-container {
        width: 20vw;
        height: 30vw;
    }
}
@media (max-width:1100px) {
    section .pokemon-container {
        width: 40vw;
        height: 30vw;
    }
}
@media (max-width:500px) {
    section .pokemon-container {
        width: 80vw;
        height: 50vw;
    }
}



section .pokemon-container:hover{
    transform: translateY(-10px);
}
section .pokemon-container.dragging {
    background-color: cyan;
}


section .pokemon-container img {
    width: 12vw;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    position: absolute;
    top: 20px;
}
section .pokemon-container p {
    position: absolute;
    bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
section .pokemon-container .pokemon-information {
    position: absolute;
    color: white;
    left: 40px;
    bottom: 120px;
    background-color: rgb(236, 115, 139);
    padding: 0px 20px;
    border-radius: 5px;
}

.input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 3vw;
    background-color: rgba(0, 255, 255, 0);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 80px;
    gap: 20px;
}
.input-search input{

    width: 30vw;
    height: 1.7vw;
    outline: none;
    border: none;
    border-radius: 10px;
 /*   left: 0;
    right: 0;
    margin: auto;
    top: 80px;
    position: absolute; */
}
.input-search img {
    width: 2rem;
    transition: 0.4s;
}
.input-search img:hover {
    transform: translateY(-10px);
}
.id-number {
    color: white;
    position: absolute;
    bottom: 10px;
}

.pokemon-gen {
    position: fixed;
    width: 90vw;
    height: 40vw;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(40, 33, 78);
    border-radius: 50px;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    visibility: hidden;
}
@media (max-width:1500px) {
    .pokemon-gen {
        width: 80vw;
        height: 60vw;
    }
}
.active {
    visibility: visible;
}

.pokemon-gen .pokemon-gen-image {
    background-color: rgba(255, 255, 255, 0.253);
    width: 15vw;
    height: 18vw;
    position: relative;
    border-radius: 20px;
    margin: auto;
    
    
}
.pokemon-gen .pokemon-gen-image:hover {
    transform: translateY(-10px);
}
.pokemon-gen .pokemon-gen-image img {
    width: 12vw;
    height: 12vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 15px;
    top: 10px;
}
.pokemon-gen .pokemon-gen-image p {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    font-size: 3rem;
    color: white;
}
.pokemon-gen h1{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 700px;
    font-size: 2rem;
    color: white;
    top: 100px;
}

.pokemon-team {
    background-color: rgb(236,115,139);
    width: 5vw;
    height: 3vw;
    position: absolute;
    top: 4vw;
    left: 5vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.4s;
}

.pokemon-team:hover{
    transform: scaleX(1.1);
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff34;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(236,115,139);
    border-radius: 10px;
    
  }


.pokemon-choose-container img{
    width: 10vw;
}

.pokemon-choose-container p {
    font-size: 0.2em;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.pokemon-choose-container .pokemon-information {
    font-size: 0.3em;
    position: absolute;
    top: 10px;
    background-color: aqua;
    border-radius: 5px;
    color: white;
    left: 10px;

}

.pokemon-choose-container .id-number {
    position: absolute;
    right: 10px;
}

